.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding-top: 7px;
  padding-right: 56px;
  padding-bottom: 7px;
  padding-left: 88px;

  .logo {
    a {
      display: inline-block;
      width: 80px;
      height: 48.57px;
      text-indent: -101%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url(../images/logo-new_工作區域1.png);
    }
  }

  .menu {
    display: flex;
  }

  .menu-link {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 32px;

    &:focus {
      outline: 1px solid #fa0;
    }

    &:hover {
      background-color: #fa0;
    }

    &:active {
      background-color: #0af;
    }
  }
}