.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding-top: 7px;
  padding-right: 56px;
  padding-bottom: 7px;
  padding-left: 88px;
  .logo{
    a {
      display: inline-block;
      width: 80px;
      height: 48.57px;
      text-indent: -101%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url(../images/logo-new_工作區域1.png);
    }
  }

  .menu{
    display: flex;
  }

  .menu-link{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 32px;
    &:focus {
      outline: 1px solid #fa0;
    }
    &:hover {
      background-color: #fa0;
    }
    &:active {
      background-color: #0af;
    }
  }
}

.hamburger-menu{
  display: none;
}

@media(max-width: 768px){
  .navbar{
    padding-top: 20px;
    padding-right: 28px;
    padding-bottom: 20px;
    padding-left: 48px;
    .menu-link{
      padding: 20px;
    }
  }
}

@media(max-width: 615px){
  .navbar{
    padding: 10px 0;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    .logo{
      a{
        width: 46px;
        height: 29.14px;
        background-size: cover;
      }
    }
    .menu{
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.5s;
      position: absolute;
      top: 51px;
      left: 0;
      right: 0;
      z-index: 2;
      flex-wrap: wrap;
      background: $primary-color;
    }

    .menu-item{
      width: 100%;
    }

    .menu-link{
      display: block;
      padding: 16px 0;
      text-align: center;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
    }

  }

  .hamburger-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 16px;
  }

  .menu-show .menu{
    max-height: 500px;
  }

}