<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="navbar">
      <h1 class="logo"><a href="#" class="logo-icon">glasses</a></h1>
      <nav>
        <a href="#" class="hamburger-menu"><img src="assets/images/ic_menu_24px.svg" alt="" class="hamburger-menu-icon"></a>
        <ul class="menu">
          <li class="menu-item"><a href="#" class="menu-link">系列鏡框</a></li>
          <li class="menu-item"><a href="#" class="menu-link">門市據點</a></li>
          <li class="menu-item"><a href="#" class="menu-link">部落格</a></li>
          <li class="menu-item"><a href="#" class="menu-link">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="footer-navbar container">
      <ul class="footer-menu">
        <li><a href="#" class="footer-menu-link">首頁</a></li>
        <li><a href="#" class="footer-menu-link">系列鏡框</a></li>
        <li><a href="#" class="footer-menu-link">門市據點</a></li>
        <li><a href="#" class="footer-menu-link">部落格</a></li>
        <li><a href="#" class="footer-menu-link">常見問題</a></li>
      </ul>
      <ul class="social-media">
        <li><a href="#" class="social-media-icon facebook"></a></li>
        <li><a href="#" class="social-media-icon instagram"></a></li>
        <li><a href="#" class="social-media-icon line"></a></li>
      </ul>
    </div>
    <div class="contact-info container">
      <p class="contact-phone"><span class="contact-info-icon phone-icon"></span>0800-000-000</p>
      <p class="contact-email"><span class="contact-info-icon email-icon"></span>glasses@business.com</p>
    </div>
    <div class="copyright container">
      <h6 class="footer-logo"><a href="#"></a></h6>
      <div class="copyright-info">
        <div class="copyright-year">Copyright © 2020 Glasses.All rights reserved.</div>
        <div class="copyright-detail">
          <a href="#" class="copyright-detail-link privacy-policy">隱私權政策</a>
          <a href="#" class="copyright-detail-link terms-of-service">服務條款</a>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/all.js"></script>
</body>

</html>
