*, *::before, *::after{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

body{
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}