.banner-faq{
  background-image: url(../images/72.png);
  background-size: cover;
}

.banner-faq-text{
  padding-top: 214px;
  display: flex;
  align-items: center;
}

.banner-faq-icon{
  display: inline-block;
  width: 57.9px;
  height: 57.9px;
  margin-left: 10.1px;
  background-image: url(../images/help-circle-sharp.svg);
  background-size: cover;
}

.faq{
  padding-top: 88px;
  padding-bottom: 156px;
}

.faq-title{
  font-size: 32px;
  margin-bottom: 16px;
}

.faq-item{
  &:first-child{
    .faq-question{
      border-top: 1px solid #000;
    }
  }
}

.faq-question{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 22px 38px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.faq-question-icon{
  display: inline-block;
  background-image: url(../images/ic_keyboard_arrow_down_24px.svg);
  width: 38.94px;
  height: 24px;
  background-repeat: no-repeat;
  transition: all .2s;
}

.faq-answer{
  max-height: 0px;
  overflow: hidden;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 22px 38px;
  background-color: #f2f2f2;
  display: none;
}

.active-answer{
  .faq-answer{
    display: block;
    border-bottom: 1px solid #000;
    max-height: 100%;
  }
}

.active{
  transform: rotate(180deg);
}


@media(max-width: 768px){
  .banner-faq{
    background-image: url(../images/72-tablet.png);
  }

  .banner-faq-text{
    padding-top: 237px;
  }

  .banner-faq-icon{
    width: 48px;
    height: 48px;
  }

  .faq{
    padding-top: 40px;
    padding-bottom: 104px;
  }

  .faq-title{
    font-size: 28px;
    margin-bottom: 32px;
  }

  .faq-question{
    font-size: 16px;
    padding: 16px 24px;
  }

  .faq-answer{
    font-size: 14px;
    padding: 16px 24px;
  }
}

@media(max-width: 375px){
  .banner-faq{
    
  }

  .banner-faq-text{
    padding-top: 155px;
    font-size: 28px;
  }

  .banner-faq-icon{
    width: 24px;
    height: 24px;
  }

  .faq{
    padding-top: 24px;
    padding-bottom: 56px;
  }

  .faq-title{
    font-size: 20px;
    margin-bottom: 16px;
  }

  .faq-question{
    padding: 16px 8px 16px 16px;
  }

  .faq-answer{
    padding: 16px 8px 16px 16px;
  }
}

