.banner{
  padding: 350px 0;
  background-image: url(../images/68.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text{
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-series{
  font-size: 36px;
  font-weight: 500;
}

.product-slogan{
  font-size: 64px;
  font-weight: 500;
}

@media(max-width: 768px){
  .banner{
    background-image: url(../images/68-table.png);
  }
  .product-series{
    font-size: 20px;
  }
  .product-slogan{
    font-size: 48px;
  }
}

@media(max-width: 375px){
  .banner{
    padding-top: 163px;
    padding-bottom: 164px;
    background-image: url(../images/68-mobile.png);
  }

  .product-series{
    font-size: 16px;
  }

  .product-slogan{
    font-size: 32px;
  }
}

.feature{
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: $secondary-color;
}

.feature-title{
  color: $text-color;
  text-align: center;
  margin-bottom: 44px;
}

.feature-list{
  display: flex;
  justify-content: space-between;
}

.feature-item{
  width: 23.5%;
  padding: 0 3.084%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.feature-img{
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.feature-price{
  background-image: url(../images/iconfinder_circle-dollar_430089.svg);
}

.feature-pickup{
  background-image: url(../images/iconfinder_clock-1_430090.svg);
}

.feature-after-sales{
  background-image: url(../images/iconfinder_heart_430099.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-glass{
  background-image: url(../images/iconfinder_glasses_430098.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-item-title{
  font-size: 24px;
  font-weight: 500;
  color: $text-color;
  text-align: center;
  margin-bottom: 4px;
}

@media(max-width: 768px){
  .feature{
    padding-top: 40px;
    padding-bottom: 36px;
  }
  .feature-title{
    margin-bottom: 12px;
  }
  .feature-list{
    flex-wrap: wrap;
  }
  .feature-item{
    width: 48.214285%;
    padding: 0 7.440476%;
    padding-top: 20px;
    margin-bottom: 12px;
    &:nth-child(2){
      order: -2;
    }
    &:nth-child(3){
      order: -1;
    }
  }
  .feature-img{
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-bottom: 16px;
  }
  .feature-price{
    
  }

  .feature-item-title{
    font-size: 20px;
    margin-bottom: 8px;
  }
}

@media(max-width: 375px){
  .feature{
    padding-top: 32px;
    padding-bottom: 28px;
  }

  .feature-title{
    margin-bottom: 32px;
  }

  .feature-list{
    justify-content: center;
  }

  .feature-item{
    width: 63.636363%;
    padding: 0;
    margin-bottom: 28px;
  }
}


.classic{
  padding-top: 64px;
  margin-bottom: 80px;
}

.classic-title{
  color: $text-color;
  text-align: center;
  margin-bottom: 60px;
}

.classic-item{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.classic-sunglasses{
  flex-direction: row-reverse;
  position: relative;
}

.classic-sunglasses-img-gray{
  opacity: 1;
  &:hover{
    opacity: 0;
  }
}

.classic-sunglasses-img-color{
  opacity: 0;
  position: absolute;
  &:hover{
    opacity: 1;
  }
}

.classic-item-img{
  vertical-align: bottom;
  width: 66%;
}

.classic-glass-type{
  margin: 0 2%;
  display: flex;
  align-items: center;
  color: $primary-color;
  text-transform:uppercase;
  font-style: italic;
  font-weight: 900;
}

.classic-glass-type-icon{
  margin-right: 8px;
}

.classic-glass-type-icon-mobile{
  display: none;
}

@media(max-width: 768px){
  .classic{
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .classic-title{
    margin-bottom: 32px;
  }
  .classic-item{
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .classic-sunglasses{
    flex-direction: row;
  }
  .classic-item-img{
    width: 61.160714%;
  }
  .classic-glass-type{
    margin: 0;
    font-size: 28px;
    width: 35.267857%;
    display: flex;
    justify-content: center;
  }
  .classic-glass-type-icon{
    width: 32px;
    height: 32px;
  }
}

@media(max-width: 375px){
  .classic{
    padding-top: 24px;
    margin-bottom: 24px;
  }

  .classic-title{
    margin-bottom: 16px;
  }

  .classic-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .classic-item-img{
    width: 100%;
  }

  .classic-glass-type{
    position: absolute;
    color: #ffffff;
  }

  .classic-glass-type-icon{
    display: none;
  }

  .classic-glass-type-icon-mobile{
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.co-branding{
  padding-top: 64px;
  padding-bottom: 479px;
  background-image: url(../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.co-branding-title{
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}

.co-branding-glasses{
  max-width: 1539px;
  margin: 0 auto;
}

.co-branding-glasses-gallery{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.co-branding-glasses-gallery-group1{
  width: 37.23197%;
  display: flex;
}

.co-branding-glasses-gallery-group2{
  width: 62.24821%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.co-branding-glasses-gallery-group2-block2{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.co-branding-glasses-gallery-gray-pic1{
  width: 13.7788%; 
}

.co-branding-glasses-gallery-gray-pic2{
  width: 85.3863%;
}

.co-branding-glasses-gallery-more{
  width: 27.03549%;
  position: absolute;
  right: 83px;
  bottom: 0;
}

.co-branding-glasses-gallery-more-link{
  display: flex;
  text-decoration: none;
  font-size: 72px;
  font-weight: 700;
  padding-right: 19px;
  padding-left: 32px;
  color: $primary-color;
  position: absolute;
  right: 0;
  bottom: 35px;
  background: #ffffff;
  &::before{
    content: 'MORE';
    position: absolute;
    transform: translateY(0px);
    transition: all .75s .3s;
  }
  &::after{
    content: 'MORE';
    position: absolute;
    transform: translateY(0px);
    transition: all .75s .3s;
  }
  &:hover::before{
    transform: translateY(-95px);
    opacity: .7;
  }
  &:hover::after{
    transform: translateY(-160px);
    opacity: .4;
  }
  &:hover{
    .arrow-forward{
      transform: translateX(15px);
    }
  }
}

.arrow-forward{
  margin-left: 15px;
  transform: translateX(0px);
  transition: all .75s .3s;
}

.co-branding-glasses-others{
  display: flex;
  justify-content: center;
  position: relative;
}

.co-branding-glasses-others-group1,
.co-branding-glasses-others-group2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-branding-glasses-others-group1,
.co-branding-glasses-others-group2{
  &::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    opacity: .5;
  }
  &::after{
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    color: $primary-color;
    white-space: nowrap;
  }
}

.co-branding-glasses-others-group1{
  margin-right: 30px;
  &::after{
    content: 'Double A+';
  }
}

.co-branding-glasses-others-group2{
  &::after{
    content: 'YOUTH';
  }
}

@media(max-width: 768px){
  .co-branding{
    padding-top: 40px;
    padding-bottom: 417px;
  }

  .co-branding-title{
    margin-bottom: 32px;
  }

  .co-branding-glasses{
    max-width: 672px;
  }

  .co-branding-glasses-gallery{
    margin-bottom: 40px;
  }

  .co-branding-glasses-gallery-group1{
    width: 37.3512%;
  }

  .co-branding-glasses-gallery-group2{
    width: 62.20238%;
  }

  .co-branding-glasses-gallery-gray-pic1{
    width: 13.8756%;
  }

  .co-branding-glasses-gallery-gray-pic2{
    width: 85.167464%;
  }

  .co-branding-glasses-gallery-more{
    width: 35.167464%;
    max-width: 147px;
    right: 47px;
    img{
      width: 100%;
      max-height: 77px;
    }
  }
  
  .co-branding-glasses-gallery-more-link{
    display: flex;
    align-items: center;
    font-size: 40px;
    bottom: 10px;
    padding-left: 19px;
    padding-right: 10.86px;
  }

  .arrow-forward{
    width: 27.1px;
    height: 27.1px;
    margin-left: 10px;
  }

  .co-branding-glasses-others{
    justify-content: space-between;
  }

  .co-branding-glasses-others-group1{
    margin-right: 0;
  }

  .co-branding-glasses-others-group1,
  .co-branding-glasses-others-group2{
    width: 48.214285%;
    &::after{
      font-size: 32px;
    }
  }
}

@media(max-width: 375px){
  .co-branding{
    padding-bottom: 189px;
    background-image: url(../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash-mobile.png);
  }

  .co-branding-glasses{
    max-width: 352px;
  }

  .co-branding-glasses-gallery{
    margin-bottom: 20px;
  }

  .co-branding-glasses-gallery-group1{
    width: 44.318182%;
    margin-left: 3.693182%;
  }

  .co-branding-glasses-gallery-group2{
    width: 48.011364%;
    margin-right: 3.693182%;
  }

  .co-branding-glasses-gallery-group2-block2{
    flex-direction: column-reverse;
  }

  .co-branding-glasses-gallery-gray-pic1{
    width: 18.934911%;
    min-height: 99px;
  }

  .co-branding-glasses-gallery-gray-pic2{
    width: 100%;
    margin-bottom: 2px;
  }

  .co-branding-glasses-gallery-more{
    width: 60.35503%;
    margin-left: 18.934911%;;
    left: 0;
    bottom: 20px;
    img{
      max-height: 53px;
    }
  }

  .co-branding-glasses-gallery-more-link{
    font-size: 26px;
    padding-top: 1px;
    padding-right: 14px;
    padding-bottom: 1px;
    padding-left: 12px;
    margin-left: 26.627219%;;
    bottom: 26px;
  }

  .arrow-forward{
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }

  .co-branding-glasses-others{
    flex-wrap: wrap;
  }

  .co-branding-glasses-others-group1{
    margin-bottom: 20px;
  }

  .co-branding-glasses-others-group1,
  .co-branding-glasses-others-group2{
    width: 100%;
  }
}

.customer-recommend{
  margin-top: -335px;
}

.customer-recommend-title{
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}

.customer-recommend-list{
  display: flex;
  justify-content: space-between;
}

.customer-recommend-item{
  width: 23.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.customer-recommend-detail{
  padding: 16px;
  border-right: 1px solid #DEE2E6;
  border-left: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
}

.customer-name{
  font-weight: 500;
  margin-bottom: 16px;
}

.customer-recommend-comment{
  margin-bottom: 16px;
}

.customer-recommend-comment-post-time{
  color: #707070;
}

@media(max-width: 768px){
  .customer-recommend{
    margin-top: -377px;
    padding-bottom: 16px;
  }

  .customer-recommend-title{
    margin-bottom: 32px;
  }

  .customer-recommend-list{
    flex-wrap: wrap;
  }

  .customer-recommend-item{
    width: 48.2142857%;
    margin-bottom: 24px;
  }

  .customer-recommend-detail{
    background-color: #ffffff;
  }
}

@media(max-width: 375px){
  .customer-recommend{
    margin-top: -165px;
    padding-bottom: 8px;
  }

  .customer-recommend-title{
    margin-bottom: 16px;
  }

  .customer-recommend-item{
    width: 100%;
    margin-bottom: 16px;
  }
}


.contact-us{
  background-color: $secondary-color;
  padding-top: 64px;
  padding-bottom: 92px;
}

.contact-us-title{
  text-align: center;
  margin-bottom: 24px;
}

.contact-us-description{
  max-width: 792px;
  margin: 0 auto 20px;
  font-size: 20px;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
  max-width: 792px;
  margin: 0 auto;
}

.contact-us-form-name,
.contact-us-form-phone,
.contact-us-form-email,
.contact-us-form-suggest{
  font-size: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background: transparent;
  margin-top: 4px;
  margin-bottom: 16px;
  &::placeholder{
    opacity: .2;
  }
}

.contact-us-form-suggest{
  padding-bottom: 6px;
}

.contact-us-private-policy {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  margin-bottom: 42px;
  cursor: pointer;
  user-select: none;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked{
      ~ .checkmark{
        &::after{
          display: block;
        }
      }
    }
  }
}

.checkmark{
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: transparent;
  &::after{
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}


.contact-us-form-send{
  font-size: 16px;
  background-color: $primary-color;
  color: #ffffff;
  padding: 16px 58px;
  margin-left: 38.63636%;
  margin-right: auto;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all .3s .3s;
  &:hover{
    background-color: darken($primary-color, 15%);
    padding: 16px 68px;
    margin-right: auto;
  }
}

@media(max-width: 768px){
  .contact-us{
    padding-top: 40px;
    padding-bottom: 56px;
  }

  .contact-us-description{
    max-width: 496px;
    font-size: 16px;
  }

  .contact-us-form{
    max-width: 496px;
  }
  .contact-us-form-name,
  .contact-us-form-phone,
  .contact-us-form-email,
  .contact-us-form-suggest{
    margin-bottom: 12px;
  }

  .contact-us-private-policy{
    margin-bottom: 24px;
    .checkmark{
      top: 4px;
    }
  }

  .contact-us-form-send{
    padding: 7px 36px;
    margin: 0 auto;
    &:hover{
      padding: 7px 36px;
    }
  }
}

@media(max-width: 375px){
  .contact-us{
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .contact-us-title{
    margin-bottom: 8px;
  }

  .contact-us-description{
    max-width: 327px;
    margin-bottom: 8px;
  }

  .contact-us-form{
    max-width: 327px;
  }

  .contact-us-form-name,
  .contact-us-form-phone,
  .contact-us-form-email,
  .contact-us-form-suggest{
    padding: 7px 12px;
}

  .contact-us-form-suggest{
    height: 100px;
  }

  .contact-us-private-policy{
    margin-bottom: 20px;
    font-size: 14px;
  }
}


