.products-menu{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.products-menu-icon{
  background-size: cover;
  margin-right: 8px;
  
}

.products-menu-item{
  width: 33.33333%;
  border: 1px solid #DCDCDC;
}

.products-menu-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 8px;
  color: #000000;
  text-decoration: none;
  font-size: 42px;
  font-weight: 500;
  border-bottom: 16px solid #ffffff;
  &:focus{
    border-color: $primary-color;
  }
  &:hover{
    border-color: $primary-color;
  }
  &:active{
    border-color: $primary-color;
  }
}

@media(max-width: 768px){
  .products-menu-link{
    font-size: 28px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 8px solid #ffffff;
  }

  .menu-diamond-icon{
    width: 32px;
    height: 25.16px;
  }

  .menu-sun-icon{
    width: 32px;
    height: 32px;
  }

  .menu-flash-icon{
    width: 23px;
    height: 32px;
  }
}

@media(max-width: 375px){
  .products-menu-link{
    margin-top: 52.13px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-bottom: 4px solid #ffffff;
  }

  .menu-diamond-icon{
    width: 14.99px;
    height: 11.78px;
  }

  .menu-sun-icon{
    width: 14px;
    height: 15px;
  }

  .menu-flash-icon{
    width: 10.77px;
    height: 14.99px;
  }

}

.products-popular{
  display: flex;
  justify-content: space-between;
}

.products-popular-picture{
  width: 49.375%;
  height: 309px;
  background-size: cover;
  background-position: center center;
}

.products-popular-one{
  background-image: url(../images/2.png);
}

.products-popular-two{
  background-image: url(../images/11.png);
}

@media(max-width: 768px){
  .products-popular-picture{
    width: 50%;
  }

  .products-popular-one{
    background-image: url(../images/2-tablet.png);
  }

  .products-popular-two{
    background-image: url(../images/11-tablet.png);
  }
}

@media(max-width: 375px){
  .products-popular-picture{
    height: 144px;
  }
}

.products{
  padding-top: 88px;
  padding-bottom: 156px;
}

.products-title{
  text-align: center;
}

.products-title-en{
  font-size: 42px;
  font-weight: 500;
}

.products-title-zh{
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 42px;
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-item{
  width: 23.5%;
  margin-top: 6px;
  margin-bottom: 98px;
}

.products-info{
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.products-picture{
  height: 164px;
  background-image: url(../images/16.png);
  background-size: cover;
  background-position: center center;
}

.products-price{
  color: $primary-color;
}

.products-style-one{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
}

.products-style-two{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
  vertical-align: middle;
}

@media(max-width: 768px){
  .products{
    padding-top: 40px;
    padding-bottom: 104px;
  }

  .products-title-zh{
    margin-bottom: 13px;
  }

  .products-item{
    width: 48.214285%;
    margin-top: 19px;
    margin-bottom: 53px;
  }
}

@media(max-width: 375px){
  .products{
    padding-top: 24px;
    padding-bottom: 56px;
  }

  .products-title-en{
    font-size: 20px;
  }

  .products-title-zh{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .products-item{
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .products-picture{
    background-image: url(../images/16-mobile.png);
  }

  .products-info{
    font-size: 16px;
    margin-bottom: 0;
  }

  .products-style{
    line-height: 1;
  }

  .products-style-one{
    width: 15px;
    height: 16px;
    margin-right: 5px;
  }

  .products-style-two{
    width: 17px;
    height: 16px;
  }
}

.pagination{
  display: flex;
  justify-content: center;
}

.page-link{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #555555;
  color: #555555;
  &:focus{
    background-color: #000000;
  }
  &:hover{
    background-color: #000000;
  }
  &:active{
    background-color: $primary-color;
  }
}

.page-prev,
.page-next{
  font-size: 19px;
  padding: 10px 14px 10px 10px;
}

.page-next{
  background-color: #F2F2F2;
}

.page-count{
  font-size: 18px;
  padding: 10px 16px 11px 16px;
}

@media(max-width: 375px){
  .pagination{
    margin-top: 8px;
  }

  .page-prev,
  .page-next{
    font-size: 12px;
    padding: 7px 8px 7px 9px;
  }

  .page-count{
    font-size: 11px;
    padding: 7px 10px 7px 11px;
  }
}